nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
}

li {
  border: solid 1px grey;
  padding: 10px;
}

li a {
  text-decoration: none;
}
